<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <p>Signed in as <%= current_user.username -%>
    <%= link_to "Profile", "/profile" -%>
    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></p>
  <% else %>
    <%= form_for('user', :url => user_session_path) do |f| %>
      <%= f.label :login -%>
      <%= f.text_field :login, :size => 15 -%>
      <%= f.label :password -%>
      <%= f.password_field :password, :size => 15 -%>
      <%= f.submit 'Sign in' -%>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <%= link_to 'Sign up', new_user_registration_path -%>
    <% end %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
